.register {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.register-input > div > input {
	min-width: 240px !important;
}

@media (min-width: 350px) {
	.register-input > div > input {
		min-width: 260px !important;
	}
}
@media (min-width: 380px) {
	.register-input > div > input {
		min-width: 320px !important;
	}
}

@media (min-width: 450px) {
	.register-input > div > input {
		min-width: 360px !important;
	}
}
